.row{
    margin-left: 10px;
    color: #fff;

}
.posters{
    display: flex;
    padding: 2opx;
    overflow-x: scroll;
    overflow-y: hidden;

}
.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;

}

.small_poster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;

}
.poster:hover{
    transform: scale(1.1);
}
.small_poster:hover{
    transform: scale(1.1);
}

